#landing-wrapper {
  display: flex;
  justify-content: center;
}

#landing-content {
  width: 100%;
  max-width: 2000px;
  height: 100vh;
  margin: 0;
  font-family: "IM Fell English", serif;
}

#landing-title {
  font-family: "IM Fell English SC", serif;
  margin-top: 30vh;
  font-size: 7em;
  line-height: 1;
}

#landing-subtitle {
  color: var(--gray);
  font-size: 2em;
}

@media screen and (max-width: 767px) {
  #landing-title {
    margin-top: 10vh;
    font-size: 4.5em;
  }

  #landing-subtitle {
    font-size: 1.5em;
  }
}



#landing-content .bi {
  height: 3em;
  width: 3em;
  color: var(--cream);
}

#landing-content .icon-desc {
  font-size: 1.5em;
  color: var(--cream);
  font-family: "IM Fell English", serif;
}