/* insert newline between sentences on large displays */
@media screen and (min-width: 800px) {
  #first-line::after {
    content: "\a";
    white-space: pre;
  }
}

@media screen and (min-width: 1000px) {
  #landing-content {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#landing-wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#landing-title {
  margin-top: 30vh;
  font-size: 4.5em;
}

#landing-wrapper .bi {
  height: 3em;
  width: 3em;
  color: var(--cream);
}

#landing-wrapper .icon-desc {
  font-size: 1.5em;
  color: var(--cream);
  font-family: "IM Fell English", serif;
}