table {
  margin: 0 auto;
  width: 75%;
}

tr,
td {
  border: none;
  padding: 0.5rem 1rem;
}

hr {
  width: 100%;
}

.removed {
  text-decoration: line-through;
  color: var(--red);
  font-weight: bold;
}

.new {
  font-weight: bold;
  background: var(--green);
  color: var(--white);
}

li.new::marker,
ol.new::marker {
  color: var(--green);
}

.new-section {
  background-color: var(--green);
  color: var(--white);
  font-weight: bold;
}

.new-section > ol > li::before {
  color: var(--white);
}

.new a {
  color: var(--white);
}
